.navBar{
    position: relative;
}
.main .sidebar{
    position: relative !important;
    color: #212529 !important;
}

.navbar-dark{
    background-color: #ffffff !important;
}
.navbar-dark .container-fluid a p{
    color: green;
    font-size: 30px;
    display: inline;
}
#nav_bar .nav_button {
    display:inline-block;
    font-weight: 700;
    font-size: 20px;
}

#nav_bar{
    padding: 10px;
    background-color: rgb(108, 219, 108);
    position: relative;
    margin-right: 30%;
    border-radius: 10px;
}
#nav_bar .nav_button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#nav_bar .divider{
    height: 20px;
    width: 2px;
    background-color: rgb(255, 255, 255) ;
    top: 6px;
    position: relative;
}

.main .col-sm .btn{
    padding: 20px;
    background-color: rgb(106, 219, 106);
    border-radius: 50px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.column .txt1 p{
    color: black;
    font-weight: 600;
}
.column .txt1{
    display: inline;
}
.column .txt1 .p0{
    color: rgb(106, 219, 106);
    font-size: 60px;
    font-weight:bold;
    display: inline;
}
.column .txt1 .p1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight:bold;
    display: inline;
}
.column .txt2{
    margin-top: 70px;
    font-size: 30px;
}
button.owl-prev span,button.owl-next span{
    font-size: 30px !important;
    text-align: center;
}
button.owl-prev span{
    padding: 10px 10px;
}
button.owl-prev{
    position: relative;
    right: 100px;
}
button.owl-next span{
    padding: 10px 10px;
}
button.owl-next{
    position: relative;
    left: 100px;
}
button.owl-prev span::after{
    content: "Prev";
}
button.owl-next span::before{
    content: "Next";
}


.owl-carousel{
    left: 7.5%;
    color: rgb(0, 0, 0) !important;
    width: 85% !important;
    position: relative;
}
.owl-carousel .background{
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: -1;
}
div.owl-item{
    height: 320px;
}

.owl-stage .owl-item img{
    margin: 10px;
    width: 200px !important;
    height: 300;
}
.owl-stage .owl-item .actisdve{
    background-color: none !important;
}

.fa {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 20px !important;
    text-decoration: none;
    border-radius: 50%;
    background-color: white;
  }
  .alex .fa-facebook{
      color: #ea786ba8;
  }
  .alex .fa-linkedin{
    color: #ea786ba8
  }
  .owl-item .alex{
      position: relative;
      z-index: 1;
      bottom: 130px;
      background-color:#ea786ba8;
      width: 170px;
      border-radius: 20px;
      color: white;
      height: 160px;
      display:block;
  }
  .cielo .fa-facebook{
    color: #ed9083a8;
}
.cielo .fa-linkedin{
  color: #ed9083a8;
}
.owl-item .cielo{
    position: relative;
    z-index: 1;
    bottom: 130px;
    background-color:#ed9083a8;
    width: 170px;
    border-radius: 20px;
    color: white;
    height: 160px;
}
.robie .fa-facebook{
    color: #ed9083a8;
}
.robie .fa-linkedin{
  color: #ed9083a8;
}
.owl-item .robie{
    position: relative;
    z-index: 1;
    bottom: 130px;
    background-color:#ed9083a8;
    width: 170px;
    border-radius: 20px;
    color: white;
    height: 160px;
}
.roy .fa-facebook{
    color: #80b483a8;
}
.roy .fa-linkedin{
  color: #80b483a8;
}
.owl-item .roy{
    position: relative;
    z-index: 1;
    bottom: 130px;
    background-color:#80b483a8;
    width: 170px;
    border-radius: 20px;
    color: white;
    height: 160px;
}
.clarence .fa-facebook{
    color: #f2bb53a8;
}
.clarence .fa-linkedin{
  color: #f2bb53a8;
}
.owl-item .clarence{
    position: relative;
    z-index: 1;
    bottom: 130px;
    background-color:#f2bb53a8;
    width: 170px;
    border-radius: 20px;
    color: white;
    height: 160px;
}

.owl-carousel{
    width: 90%;
    height: auto;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item{
    display: inline-block !important;
}